<div class="px=10 py-10">
  <p>Input amount here</p>

  <div class="flex align-middle justify-center">
    <select
      (change)="selectHandler($event)"
      class="w-1/4"
      name="currencyFrom"
      id="currencyFrom"
    >
      <option *ngFor="let currency of ['USD', 'EUR', 'UAH']" [value]="currency">
        {{ currency }}
      </option>
    </select>
    <select
      (change)="selectHandler($event)"
      class="w-1/4"
      name="currencyTo"
      id="currencyTo"
    >
      <option *ngFor="let currency of ['USD', 'EUR', 'UAH']" [value]="currency">
        {{ currency }}
      </option>
    </select>
    <input
      type="number"
      name="currency1"
      id="currency1"
      class="mb-2 px-2 py-4 w-1/3"
      placeholder="Put amount here"
      [(ngModel)]="currency1amount"
    />
    <span class="bg-blue-100 w-1/3 flex items-center justify-center">
      {{ currency1amount * (currencyFrom / currencyTo) | number: ".2-2" }}
    </span>
  </div>
</div>
